.app_crimson_theme {
  --bg-color: #faf3fb;
  --inverted-bg-color: #dc143c;
  --primary-color: #920e0e;
  --secondary-color: #dc143c;
  --inverted-primary-color: #faf3fb;
  --inverted-secondary-color: #ad1010;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fce4e4;
  --card-bg: #fedefe;
  --listbox-bg: #fedefe;

  // redesigned
  --dark-bg-redesigned: #fedefe;
  --bg-redesigned: #dc143c;
  --light-bg-redesigned: #faf3fb;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #920e0e;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;
}
