.app.dark {
  --bg-color: rgb(1, 0, 15);
  --inverted-bg-color: aliceblue;

  --primary-color: rgb(0, 204, 255);
  --secondary-color: rgb(107, 0, 179);

  --inverted-primary-color: rgb(0, 35, 88);
  --inverted-secondary-color: rgb(0, 122, 221);
}
