.app.light {
    --bg-color: aliceblue;
    --inverted-bg-color: rgb(1 0 15);
    --primary-color: rgb(0 98 196);
    --secondary-color: rgb(0 111 202);
    --inverted-primary-color: rgb(0 204 255);
    --inverted-secondary-color: rgb(107 0 179);
}
